*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navigation bar */
.nav-bar{
    background-color: #FFFFFF;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 5rem;
}
.logo{
    display:flex;
    align-items: center;
    gap: 1rem;
}
.logo h3{
    font-family:"Montserrat", sans-serif;
    font-size: 2rem;
}
.nav-items{
    /* background-color: red; */
    list-style: none;
}
ul li{
    display: inline;
    padding: 2.5rem;

}
a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
a:link{
    color:red;
}
a:hover{
    color: orange;
}
a:active{
    color: green;
}
.nav-icons{
    display: flex;
    gap:3rem;
    cursor: pointer;   
}
/* background section starts here */
.background{
    background-image: url(./assets/shop\ background.png);
    background-repeat: no-repeat;
    background-position: center;
    height:19.75rem;
    position: relative;
}
.b-center{
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.b-center img{
    padding-left: 1rem;
}

.b-center h4{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size:2rem;
    font-weight: 500;
}
.b-homebox{
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}
.b-homebox span{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
}
.b-home{
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
}
.b-home2{
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
}

/* product section starts here */
.product{
    margin-top: 2rem;
    padding: 0 9em;
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 2rem;
}
.product-tops{
    display: flex;
    height: 2rem;
    align-items: center;
    background-color:#F9F1E7;
    padding-left: 9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.product-tops p{
    padding-right: 7rem;
}
.quantity{
    padding-right:1rem !important;
}
.product-img{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    
}
.product-img img{
    background-color: #F9F1E7;
    margin-right: 2rem;
}
.product-img p{
    padding-right: 5rem;
    color: #9f9f9f;
   
}
.padding1{
    margin-right:3rem !important;
    color:#000000 !important;
    border: 1px solid #9f9f9f ;
    padding-right: 0% !important;
    width: 1.5rem;
    text-align: center;
    border-radius: 0.3rem;

}
.fa-trash{
    color: #B88E2F;
    padding-left: -5rem !important;
}
.product-cart-box{
    font-family: "Poppins", sans-serif;
    background-color:#F9F1E7;
    text-align: center;
    height: 17rem;
}
.product-cart{
    padding: 1rem 2rem 4rem 2rem;
}
.product-cart h4{
    text-align: center;
    font-weight: 600;
}
.subtotal{
    display: flex;
    gap: 4rem;
    align-items: center;
    padding-top: 3rem;
}
.sub-price{
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem !important;
    color: #9F9F9F;
}
.total{
    display: flex;
    padding-top: 2rem;
    gap: 3rem;
    padding-bottom: 3rem;
}
.sub-price2{
    color:#B88E2F;
    font-weight: 500;
}
button{
    background-color: transparent;
    border-radius: 0.3rem;
    width: 7rem;
    height: 2rem;
    border-width: 1px;
}
button:hover{
    background-color: #B88E2F;
    color: #FFFFFF;
    border: none;
}

/* Footer section starts here */

.footer{
    display: flex;
    justify-content: space-between;
    margin-top:0.2rem;
    padding: 2rem 5rem 0 5rem;
    
}
.sec1 h4{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.sec1 p{
    padding-top:2rem;
    color: #9F9F9F;
    font-family: "Poppins", sans-serif;
    padding-right: 5rem;
    font-size: 0.8rem;

}
.list-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #9F9F9F;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;

}
.list{
    padding-top: 2rem;
    color: #000000;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;

}
.news-button{
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}
.news-button input[type="email"]{
    border: none;
    border-bottom: 2px solid #00000080;
    background-color:transparent;
    outline: none;
}
.news-button input::placeholder{
   font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}
.news-button input:focus::placeholder{
    color: transparent;
}
.news-button button{
    border: none;
    border-bottom: 2px solid #00000080;
    background-color:transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;

    
}
.news-button button:hover{
    color: #000000;
}
.copy{
    margin: 1rem 5rem 0 5rem;
    font-family: "Poppins", sans-serif;
    padding:2rem 0 1rem 0;
    font-size: 0.6rem;
    font-weight: 500;
    border: none;
    border-top: 1px solid #00000010;
}
.pages{
    margin-top: 3rem;
    display: flex;
    gap: 1rem; 
    padding-left: 35rem;
    
}
.pages p{
   background-color: #F9F1E7;
   font-family: "Poppins", sans-serif;
   border-radius: 0.3rem;
   width: 2.5rem;
   height: 2.3rem;
   padding-top: 0.5rem;
   text-align: center;
   font-weight: 300;
   font-size: 0.9rem;
}
.next{
    width: 5rem !important;
}
.pages p:hover{
    background-color: #B88E2F;
    color: #FFFFFF;
}

/* Guarantee section starts here */
.guarantee{
    font-family: "Poppins", sans-serif;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    background-color: #FAF3EA;
    margin-top: 4rem;
}
.g-items{
    display: flex;
    gap:1rem;
   align-items: center;
   padding: 0 3rem;
}
.g-items p{
    font-size: 0.7rem;
    padding-top: 0.3rem;
    color:#898989;
    font-weight: 500;
    
}