*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navigation bar */
.nav-bar{
    background-color: #FFFFFF;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 5rem;
}
.logo{
    display:flex;
    align-items: center;
    gap: 1rem;
}
.logo h3{
    font-family:"Montserrat", sans-serif;
    font-size: 2rem;
}
.nav-items{
    /* background-color: red; */
    list-style: none;
}
ul li{
    display: inline;
    padding: 2.5rem;

}
a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
a:link{
    color:red;
}
a:hover{
    color:#FFC700;
}
a:active{
    color: green;
}
.nav-icons{
    display: flex;
    gap:3rem;
    cursor: pointer;   
}
/* Background starts here */
.background{
    background-image: url(./assets/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 44.8rem;
    position: relative;
}
.background-text{
    background-color:#FFF3E3;
    position: absolute;
    left: 43.4rem;
    top: 10rem;
    right: 4rem;
    padding: 3rem 5rem 1rem 1.5rem;
    height: 440px;
    border-radius: 0.6rem;
}
.background-text p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.background-text h3{
    font-family: "Poppins", sans-serif;
    font-size: 3.25rem;
    color:#B88E2F;
    font-weight: 800;
}
.background-p{
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem !important;
    font-weight: 500 !important;
    padding-top: 1rem;
    letter-spacing:0 !important;
}
.background-text button{
    margin-top: 2rem;
    background-color: #B88E2F;
    border: none;
    color: #FFFFFF;
    height: 4.6rem;
    width: 13rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.background-text button:hover{
    /* background-color: #2D551B;
    border-radius: 0.3rem; */
    background-color: transparent;
    color: #000000;
    border: 1px solid;
    color:#B88E2F;
    border-radius: 0.5rem;
}
/* browse the range section starts here */
.browse{
    /* height: 43rem; */
    width: 74rem;
    text-align: center;
    margin: auto;
    margin-top: 3rem;

}
.browse-text h4{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #333333;
}
.browse-text p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.browse-img{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.browse-img p{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1rem;
}

/* our product section starts here */
.our-product{
    font-family: "Poppins", sans-serif;
    width: 77rem;
    margin: auto;
    margin-top: 5rem;
}
.our-product-text{
    font-size: 2.5rem;
    color: #3A3A3A;
    text-align: center;
    font-weight: 100;
}
.product-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.pro-img{
    margin-top: 2rem;
    position: relative;
}
.pro-img img{
    width: 18rem;
}
.top-text{
    position: absolute;
    bottom: 15rem;
    left: 14rem;
}
.top-text p{
    background-color: red;
    border-radius: 100%;
    width:3rem;
    height:3rem;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 500;
    padding: 0.7rem 0 0 0.2rem;  
    
}
.product-img-text{
    background-color:#F4F5F7;
    margin-top: -0.5rem;
    width: 18rem;
    background-color:#F4F5F7;
    font-family: "Poppins", sans-serif;
    padding:0.5rem 0 2rem 1rem;
}
.product-img-text h4{
font-size: 2rem;
color: #3A3A3A;
font-weight: 600;
}
.product-img-text p{
    font-size: 1rem;
    color:  #898989;
    font-weight: 500;
    padding-top: 0.3rem;

}
.strike-text{
    display:flex;
    align-items: center;
    gap:0.7rem;
    padding-top: 0.3rem;
}
.strike-text h4{
    font-size: 1.3rem;
    color: #3A3A3A;
    font-weight: 600;
}
.strike-text s{
    font-size: 0.9rem;
    color: #B0B0B0;
    font-weight: 400;
}
.small-text2{
    background-color:#2EC1AC !important;
    padding-left: 0.5rem !important;
}
.product-button{
    padding-top: 1rem;
    text-align: center;
}
.product-button button{
    background: transparent;
    width: 10rem;
    height: 2rem;
    border: 1px solid #B88E2F;
    color:  #B88E2F;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;  
    position: relative;
    overflow: hidden;
}
/* button animation */
span{
    background: #B88E2F ;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;    
    transition: 1s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
    color:white;
}

/* beautiful room section starts here */
.beautiful-rooms{
    background-color:#FCF8F3;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    padding-bottom: 2rem;
}
.beautiful-rooms-text{
    padding:10rem 0 0 3rem;
    width: 40%;
}
.beautiful-rooms-text h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    color: #3A3A3A;

}
.beautiful-rooms-text p{
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #616161;
    padding:0.5rem 7rem 1rem 0;

}

.beautiful-rooms-img{
    padding-top: 2rem; 
    display: flex;
    gap: 1rem;
    
}
.bounce{
    transition: 1s ease-in-out infinite;
}
.bounce:hover{
    animation: bounce 1s ease-in-out infinite;

}
@keyframes bounce{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }

}

.relative-img{
    position: relative;
}
.indicator{
    position: absolute;
    top: 33rem;
    
}
.beautiful-button{
    background-color:#B88E2F ;
    border: none;
    color: white;
    font-size: 0.7rem;
    width: 10rem;
    height: 2.5rem;
    font-weight: 600;
    cursor: pointer;
}
.beautiful-button:hover{
    background-color: ;
    width: 50%;
}

/* share your setup section starts here */
.share-box{

}
.share-text{
    text-align: center;
    padding-top: 3rem;
    font-family: "Poppins", sans-serif;
}
.share-text p{
    color: #616161;
    font-weight: 600;
    font-size: 1rem;
    
}
.share-box h4{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 2rem;

}

/* Footer section starts here */

.footer{
    display: flex;
    justify-content: space-between;
    margin-top:0.2rem;
    padding: 2rem 5rem 0 5rem;
    
}
.sec1 h4{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.sec1 p{
    padding-top:2rem;
    color: #9F9F9F;
    font-family: "Poppins", sans-serif;
    padding-right: 5rem;
    font-size: 0.8rem;

}
.list-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #9F9F9F;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;

}
.list{
    padding-top: 2rem;
    color: #000000;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;

}
.news-button{
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}
.news-button input[type="email"]{
    border: none;
    border-bottom: 2px solid #00000080;
    background-color:transparent;
    outline: none;
}
.news-button input::placeholder{
   font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}
.news-button input:focus::placeholder{
    color: transparent;
}
.news-button button{
    border: none;
    border-bottom: 2px solid #00000080;
    background-color:transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;

    
}
.news-button button:hover{
    color: #000000;
}
.copy{
    margin: 1rem 5rem 0 5rem;
    font-family: "Poppins", sans-serif;
    padding:2rem 0 1rem 0;
    font-size: 0.6rem;
    font-weight: 500;
    border: none;
    border-top: 1px solid #00000010;
}
